<%- include("partials/header.ejs") -%>

<div class="home">
    <div class="home-details">
        <h1>Hello!</h1>
        <h2>GGS Operationa and Support team</h2>
        <h2>Let's bridge the Gap...</h2>
    </div>
    
</div>
    
<%- include("partials/footer.ejs") -%>